
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Angular JS Authentication Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript" src="http://localhost/CommonWeb/angular129/angular.js"></script>
    <script type="text/javascript" src="http://localhost/CommonWeb/angular129/angular-route.js"></script>
    <script type="text/javascript" src="http://localhost/CommonWeb/angular129/angular-cookies.js"></script>
</head>
<body ng-app="AngularAuth">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Angular", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#/About">About</a></li>
                    <li><a href="#/Contact">Contact</a></li>
                    <li><a href="#/playlists">Youtube Playlists</a></li>
                </ul>
                <ng-include src="'/ngViews/login-partial.html'"></ng-include>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <ng-view />
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/AngularApp")
</body>
</html>
